.vscode/*
cache/*
fonts/*
hvsc
images
logs/*.txt
logs/archives/*
js/_sources/*
php/move.txt
php/_master/*
php/hvsc_update/*
temp/*
utility/*.csv
utility/python/count/*.csv
utility/python/csdb/*.csv
utility/python/gb64/*.csv
utility/python/specific/*.csv
utility/python/stil/*.csv
utility/python/stil/STIL.txt
.htaccess
soasc.txt
visitors.txt
