.vscode/*
fonts/*
hvsc
images/backup/*
images/brands/*
images/composers/*
images/countries/*
images/gb64/*
images/players/*
logs/*.txt
js/_jssid/*
js/_websid/*
php/_master/*
php/jbbcode/*
php/hvsc_update/*
temp/*
.htaccess
todo.txt
