.c64jukebox {
	font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.locale-changer {
	display: flex;
	justify-content: space-between;
	background-color: rgb(0 136 255 / 50%);
}

.audio {
	padding-top: 2px;
	padding-bottom: 16px;
	position: relative;
	text-align: center;
	background-color: rgb(0 136 255 / 30%);
}

.current-sid {
	font-style: italic;
	font-size: small;
}

.text-italic {
	font-style: italic;
}

.stil-subtune-header, .stil-name-header, .stil-author-header, .stil-title-header, .stil-artist-header {
	font-weight: bold;
	font-size: larger;
}

.stil-comment {
	font-style: italic;
}
												
@font-face {
    font-family: 'C64 Elite Mono';
    src: url('/static/fonts/C64EliteMono-Style.woff2') format('woff2'),
        url('/static/fonts/C64EliteMono-Style.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.c64-font {
    font-family: 'C64 Elite Mono';
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    font-size: 0.7em;
}

tr > [aria-sort=none], tr > [aria-sort=ascending], tr > [aria-sort=descending] {
	background-position: right top !important;
}

div i {
	margin-right: 8px;
}

.directory.parent {
	font-weight: bold;
	font-size: larger;
}

.parent-directory-hint {
	float: right;
	white-space: nowrap;
	font-weight: lighter;
	font-style: italic;
	
}

.sid {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.picture-container {
	position: absolute;
	top: 0px;
	right: 0px;
}

.picture {
	max-width: 160px !important;
	opacity: 0.75;
}

.button-box {
	padding: 4px;
}

.custom-control-label,.custom-range,.value,label,.custom-select {
	margin-top: 8px;
	margin-right: 8px;
}

.playlist-item {
    cursor:pointer;
    color:#0d6efd;
    text-decoration:underline;
    word-break: break-all;
}

.sid-file {
	padding-left: 0px;
}

.settings-box {
	padding: 2px;
	display: flex;
	justify-content: end;
	margin-bottom: 8px;
}

.right {
	float: right;
	text-align: end;
	width: auto !important;
	margin-left: 4px;
}

.setting {
	border-bottom: 1px dashed lightgray;
}

label {
	vertical-align: top;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

button {
	margin: 2px !important;
}

.field-category,.field-name,.field-event,.field-released,.field-handle,.field-rating {
	padding-right: 0.3em !important;	
}

ol.striped-list {
	padding-inline-start: 1.25rem;
}

ol.striped-list > li:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05) ;
}

ol.striped-list > li {
    padding: 6px;
}

#category {
	background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.075rem center/8px 10px !important;
}

.hide {
	display: none;
}

.iframe_c64 {
	display: block;
	width: 100vw;
	height: 100vh;
	background: rgb(0 136 255 / 30%);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators button {
  background-color: black !important;
}

  /* ============ desktop view ============ */
  @media all and (min-width: 992px) {
    .dropdown-menu li {
      position: relative;
    }
    .dropdown-menu .submenu {
      display: none;
      position: absolute;
      left: 100%;
      top: -7px;
    }
    .dropdown-menu .submenu-left {
      right: 100%;
      left: auto;
    }

    .dropdown-menu > li:hover {
      background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover > .submenu {
      display: block;
    }
    #c64Screen {
        scale: 2;
        margin-left: 200px;
        margin-top: 150px;
        margin-bottom: 140px;
    }
	.screen-parent {
		 margin-right: 200px;
		 margin-bottom: 50px;
	}
  }
  /* ============ desktop view .end// ============ */

  /* ============ small devices ============ */
  @media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
      margin-left: 0.7rem;
      margin-right: 0.7rem;
      margin-bottom: 0.5rem;
    }

    .dropdown-menu li {
      position: relative;
    }
    .dropdown-menu .submenu {
      display: none;
      position: absolute;
      left: 100%;
      top: -7px;
    }
    .dropdown-menu .submenu-left {
      right: 100%;
      left: auto;
    }

  }
  /* ============ small devices .end// ============ */
